.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}

.Board {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: repeat(16, 20px);
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.Button:hover {
  background-color: blue;
} 

.Nav {
  display: grid;
  grid-template-columns: repeat(7, 35px);
  grid-template-rows: repeat(1, 20px);
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.Box {
  background-color: yellow;
  visibility: visible;
  border: 1px solid black;
  width: 35px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
}

.BoxGone {
  visibility: hidden;
}

.markSpot {
  background-color: red;
}

.Messages {
  text-align: center;
  justify-content: center;
  height: 60px;
  width: 250px;
  margin: auto;
}

h4, h5 {
  margin: 6px;
}
